{% extends 'base.html.twig' %}

{% block body %}

    <h1>Post creation</h1>
  {% if is_granted('ROLE_BLOGGER') %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endif %}
    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
    <a href="{{ path('login')}}">login</a>
    <a href="{{ path('logout')}}">logout</a>
{% endblock %}
